body{
    display:inline-grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height:100vh;
    width:100vw;
    margin: 0;
}
.sidebar{
    background-color: lightblue;
    grid-column:1/2;
    grid-row:1/3;
    display:inline-grid;
    grid-template-rows: 5rem 2rem 2rem 2rem 2rem 2rem  5rem 2rem 2rem 2rem;
    padding:2rem;
    align-content: space-evenly;
    color:white;
    font-size:1.5rem;
    font-family: 'Bitcount Prop Single',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black
}
.head{
display:inline-grid;
grid-template-rows: 1fr 3fr;
grid-template-columns: 1fr 1fr;
background-color:white;
grid-row:1/2;
grid-column:2/3;
font-family: 'Bitcount Prop Single',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content{
background-color: white;
grid-row:2/3;
grid-column:2/3;
background-color:lightgray;
}
img{
    width:2rem;
}
.search{
    display:grid;
    grid-template-columns: 2rem 1fr;
    grid-row:1/2;
}
.acc-btn{
    grid-row:1/2;
    display: grid;
    grid-template-columns: 2rem 2rem 2rem;
    justify-content: center;
    gap:6rem;
}
input{
    font-family: inherit;
    font-size:100%;
    border-radius: 2rem;
    background-color: lightgray;
}
.acc-info{
    display:grid;
    align-content: center;
    justify-content: start;
   
}
.acc-greet{
    display: grid;
    grid-template-columns: 2rem 1fr;
    justify-items: center;
    align-items: center;
}
.acc-option{
    display: grid;
    grid-template-columns: 4rem 4rem 4rem;
    grid-template-rows: 2rem;
    gap:5rem;
    align-content:center;
    justify-content: center;
}
button{
    background-color: lightblue;
    border-radius: 2rem;
    color:white;
}
button:hover{
    background-color: black;
    border-radius: 2rem;
    color:white;
}
.acc-hi{
    align-self: center;
}
.search-img{
    align-self: center;
}

.dashboard{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.home{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.profile{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.message{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.tasks{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.communities{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.setting{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.support{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.privacy{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
