body{
    display:inline-grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height:100vh;
    width:100vw;
    margin: 0;
}
.sidebar{
    background-color: lightblue;
    grid-column:1/2;
    grid-row:1/3;
    display:inline-grid;
    /* grid-template-rows: 5rem 2rem 2rem 2rem 2rem 2rem 5rem 2rem 2rem 2rem; */
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
    align-content: space-evenly;
    color:white;
    font-size:1.5rem;
    font-family: 'Bitcount Prop Single',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black
}
.head{
display:inline-grid;
grid-template-rows: 1fr 3fr;
grid-template-columns: 1fr 1fr;
background-color:white;
grid-row:1/2;
grid-column:2/3;

font-family: 'Bitcount Prop Single',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content{
background-color: white;
grid-row:2/3;
grid-column:2/3;
background-color:lightgray;
}
img{
    width:2rem;
    height:2rem;
    display: block;
}
.search{
    display:grid;
    grid-template-columns: 6rem 1fr;
    grid-row:1/2;
    grid-column:1/2;
    align-items:end;
}
.acc-btn{
    grid-row:1/2;
    display: grid;
    grid-template-columns: 2rem 2rem auto;
    justify-content: center;
    align-items:start;
    align-self:end;
   gap:2rem;
   
}
input{
    font-family: inherit;
    font-size:100%;
    border-radius: 2rem;
    background-color: lightgray;
    height:2rem;
    align-self:end;
    padding-left:1rem;
}
.acc-info{
    display:grid;
    align-content: center;
    justify-content: start;
    padding-left:0.5rem;
  
}
.acc-greet{
    display: grid;
    grid-template-columns: 6rem 1fr;
    justify-items: center;
    align-items: center;
}
.acc-option{
    display: grid;
    grid-template-columns: 4rem 4rem 4rem;
    grid-template-rows: 2rem;
    gap:5rem;
    align-content:center;
    justify-content: center;
}
button{
    background-color: lightblue;
    border-radius: 2rem;
    width:7rem;
    color:black;
    font-weight:bold;
}
button:hover{
    background-color: black;
    border-radius: 2rem;
    color:white;
}
.acc-hi{
    align-self: center;
}

label{
    
    align-self: end;
    justify-self: center;
}

.dashboard{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.home{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.profile{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.message{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.tasks{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.communities{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.setting{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.support{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.privacy{
    display: grid;
   align-items: center;
   grid-template-columns: 2rem 1fr;
   gap:3rem;
}
.acc-dp{
    width:2rem;
    border-radius: 50%;
}
.dashboard:hover{
    background-color:white;
}
.home:hover{
    background-color:white;
}
.profile:hover{
    background-color:white;
}
.message:hover{
    background-color:white;
}
.tasks:hover{
    background-color:white;
}
.communities:hover{
    background-color:white;
}
.setting:hover{
    background-color:white;
}
.support:hover{
    background-color:white;
}
.privacy:hover{
    background-color:white;
}
.acc-name{
    align-self: center;
}


